body {
  background-color: #eeeeee;
}
form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    background-color: #fafafa;
    padding: 7rem;
    border: 1px solid #fafafa;
    border-radius: 5px;
}
.form-options {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.form-options .form-options-heading,
.form-options .checkbox {
  margin-bottom: 20px;
}
.form-options .checkbox {
  font-weight: normal;
}
.form-options .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
form {
  padding: 1rem;
  width: 100vw;
}
}
